.your-post {
  margin: 120px 150px;
  gap: 20px;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-details {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    .form {
      margin-top: 30px;
      justify-content: space-between;
      .left-form {
        display: flex;
        gap: 5px;
        flex-direction: column;
        input {
          width: 550px;
          height: 52px;
          border-radius: 26px;
          border: 3px solid #f3f3f3;
        }
      }
      .right-form {
        margin-top: 15px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        textarea {
          width: 555px;
          height: 266px;
          border-radius: 26px;
          resize: none;
          border: 3px solid #f3f3f3;
          font-size: 20px;
          padding: 10px;
        }
      }
    }
  }

  .button-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 100px;
    button {
      background: #006778;
      box-shadow: 0 5px #0093ab;
      color: white;
      border-radius: 28.5px;
      width: 249px;
      height: 61px;
      border: none;
    }
    button:active {
      box-shadow: none;
      position: relative;
      top: 5px;
    }
    button:focus {
      outline: none;
    }
  }
}

.add-deck-btn {
  margin: 0 50%;

  border: none;
}
