.button-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  padding-right: 15px;
  .hapus {
    background: #fd5d5d;
    box-shadow: 0 5px #ff8080;
    color: white;
    margin-right: 10px;
    border-radius: 28.5px;
    width: 200px;
    height: 61px;
    border: none;
  }
  button {
    background: #006778;
    box-shadow: 0 5px #0093ab;
    color: white;
    border-radius: 28.5px;
    width: 200px;
    height: 61px;
    border: none;
  }
  button:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
  button:focus {
    outline: none;
  }
}
