.post {
  background: #00afc1;
  color: #fff;
  border-radius: 16px;

  .post-title {
    padding: 5px 20px;
  }

  a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease 0s;
  }
}
