.nav {
  font-family: "Quicksand";
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 50px;
  background: #ffef0b;
  font-size: 18px;
  z-index: 1001;
  .icon {
    padding-left: 50px;
  }
  .link {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 150px;

    li {
      padding: 20px;
      list-style: none;
      display: inline-block;
      margin-left: 25px;
    }
    a {
      padding: 20px;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease 0s;
    }
  }

  .btn {
    color: #fff;
    font-weight: bold;
    padding: 9px 25px;
    justify-content: flex-end;
    background-color: #00afc1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Quicksand";
    margin-left: 20px;
  }
  .btn:focus {
    outline: none;
  }
}
